@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=League+Spartan:wght@100..900&display=swap');

/* --------------------- */
/* 1. Variáveis e Reset  */
/* --------------------- */

:root {
    --primary-color: #fcfcfc;
    --black: #13131a;
    --bg: #ae7339;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
    transition: 0.2s linear;
}

body {
    background-color: var(--bg);
    font-family: 'League Spartan', sans-serif;
}

/* --------------------- */
/* 2. Layout Global      */
/* --------------------- */

section {
    margin: 0 auto;
    padding: 30px 20px;
    max-width: 1200px;
}

/* --------------------------- */
/* 3. Header (cabeçalho)       */
/* --------------------------- */

.header {
    z-index: 99;
    border-bottom: var(--border);
    background-color: #5d2701;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

/* Menu de navegação */
.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar a {
    color: #ffffff;
    font-size: 25px;
}

.navbar a:hover {
    color: #ffffff9c;
}

/* Ícones (usuário e carrinho) */
.icons img {
    filter: invert(1);
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.icons img:hover {
    filter: invert(0.9);
}

/* --------------------------- */
/* 4. Seção Home (capa)        */
/* --------------------------- */

.home {
    background-image: url("/img/PlanoDeFundo.jpeg"); 
    background-size: cover;
    background-position: center;
    color: white;
    padding: 60px 700px 60px 80px;
    text-align: left;
}

.home h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 70px;
    margin-bottom: 10px;
    padding: 0px 80px;
    color: #ffffff;
}

.home p {
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 20px;
    padding: 0px 80px;
    line-height: 1.5;
    color: #ffffff
}

/* .botão {
    background-color: #5d2701;
    color: white;
    margin: 0 80px;
    padding: 15px 50px;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

.botão {
  padding: 15px 50px;
  margin: 0 80px;
  font-size: 12px;
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
/* 
.botão:hover {
    background-color: #8e3c02;
} */

button:hover {
  background-color: #8e3c02;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

/* --------------------------- */
/* 5. Seção Sobre              */
/* --------------------------- */

.sobre {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f4e4d4;
    color: #5d2701;
    padding: 30px 120px 30px 180px;
}

.sobre h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    margin:20px 300px 20px -20px;
}

.sobre p {
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    line-height: 1.3;

}

/* --------------------------- */
/* 6. Seção Produto            */
/* --------------------------- */

.produto {
    background-color: #5d2701;
    color: #ebe1d1;
    text-align: center;
    padding: 60px 80px;
}

.produto h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    margin:20px 800px 20px 0px;
}

.produto img {
    width: 250px;
    height: 250px;
    margin: 10px;
}

.produto p {
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px -20px 0px;
}

/* --------------------------- */
/* 7. Contato*/
/* --------------------------- */
.contato {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 0px 0px;
    max-width: 2200px;
}

.coluna-texto {
    background-color: #ebe1d1;
    color: #5d2701;
    flex: 1;
    padding: 80px 50px 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 300px;
    font-size: 20px;
}

.coluna-texto h2, .coluna-texto h3 {
    font-family: 'League Spartan', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: left;
}

.coluna-texto h3 {
    margin-top: 20px;
}

.coluna-texto p {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    line-height: 1.6;
    text-align: left;
    margin: 10px 0;
}

.coluna-imagem {
    flex: 1;
    min-width: 100px;
    max-height: 600px;
    overflow: hidden;
    border-radius: 5px;
}

.coluna-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
